/** @format */

@media (max-width: 1440px) {
    .naving {
        position: absolute;
        z-index: 30;
        bottom: 10px;
        left: 10px;
    }

    .logo {
        img {
            width: 100px;
        }
    }

    .header__title {
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }

    .menu {
        padding-top: 10px;
    }

    .header__search {
        padding-top: 0;
        padding-bottom: 8px;
    }

    .header__date {
        font-size: 60px;

        span {
            font-size: 14px;
            padding-top: 0;
            margin-bottom: 5px;
        }
    }

    .menu__list {
        li a {
            img {
                height: 30px;
            }

            span {
                font-size: 10px;
            }
        }

        li:nth-child(2) {
            img {
                height: 20px;
            }
        }

        li:nth-child(4) {
            img {
                height: 40px;
            }
        }
    }

    .header__map {
        right: -8%;

        svg {
            width: 650px;
            height: 300px;
        }
    }

    .slider-item__info-title {
        font-size: 60px;
        margin-bottom: 0;
    }

    .slider-item__info-text {
        font-size: 35px;
        margin-bottom: 0;
    }

    .dots-box__name {
        font-size: 14px;
    }

    .headline-left {
        font-size: 18px;
    }

    .header__arrows {
        left: 130px;
    }
}

@media (max-width: 1336px) {
    .header__map {
        right: -10%;
    }

    .menu__hamburger {
        display: block;
    }

    .holder-slider__descr {
        padding-top: 118px;

        padding-left: 52px;
        margin-top: -230px;
    }

    .shop__slider-content {
        padding-left: 0;
    }

    .surfboard-pos-3 .surfboard-box__content {
        padding-left: 0;
        padding-right: 104px;
        top: 18px;
        left: -377px;
    }

    .shop__slider {
        padding-left: 75px;
    }
}

@media (max-width: 1150px) {
    .slider-map {
        max-width: 980px;
    }

    .title span {
        font-size: 140px;
    }

    .surf {
        background-size: 120px;
        padding-top: 110px;
    }

    .holder-slider__info-title {
        font-size: 30px;
    }

    .shop__extras {
        padding-left: 93px;
    }
}

@media (max-width: 1140px) {
    .header__aside {
        border: none;

        .menu {
            display: none;
        }
    }

    .menu__hamburger {
        display: block;
    }

    .header__date {
        margin-top: 10px;
    }

    .header__search {
        margin-top: 100px;
    }

    .header__title {
        font-size: 100px;

        span {
            display: block;
        }
    }

    .slider-item__info-title {
        font-size: 50px;
    }

    .slider-item__info-text {
        font-size: 25px;
    }

    .slider-item__info-suptitle.headline-left,
    .slider-item__info-suptext.headline-left {
        font-size: 15px;
        padding-left: 62px;
    }

    .header {

        .slider-item__info-suptitle.headline-left::before,
        .slider-item__info-suptext.headline-left::before {
            width: 47px;
        }
    }

    .slider-dotshead {
        max-width: 610px;
    }

    .slider-dots__item {
        margin-right: 20px;
    }

    .dots-box {
        width: 130px;
    }

    .slider-item__info {
        bottom: 77px;
    }
}

@media (max-width: 1100px) {
    .shop__extras {
        padding-left: 50px;
    }
}

@media (max-width: 1035px) {
    .holder-slider__descr {
        min-height: 260px;
    }
}

@media (max-width: 980px) {
    .slider-map {
        display: none;
    }

    .island__data {
        display: block;
    }
}

@media (max-width: 990px) {
    .header__map {
        top: -3%;
        right: -12%;
    }

    .holder-slider__info-subtitle {
        position: static;
        text-align: center;
        margin-bottom: 30px;
        transform: rotate(0);
    }

    .holder-slider__info-title {
        font-size: 32px;
        padding-left: 0px;
        width: 200px;
        position: relative;
    }

    .shop__slider {
        padding-left: 50px;
    }

    .descr__head {
        font-size: 30px;
    }

    .shop__slider-price {
        font-size: 27px;
    }

    .shop__slider-btn>a {
        font-size: 27px;
    }
}

@media (max-width: 920px) {
    .surfboard-box.surfboard-pos-3 .surfboard-box__content {
        padding-right: 0;
    }

    .surfboard {
        margin-bottom: 30px;
    }

    .descr__head.descr__head-shop {
        white-space: nowrap;
    }

    .shop__slider-inner {
        display: block;
    }

    .shop__slider-info {
        max-width: 480px;
        margin-right: 0px;
        padding-top: 166px;
        margin-bottom: 25px;
    }

    .shop__slider-content {
        display: block;
        margin-top: 20px;
    }

    .surfboard-pos-1 {
        left: 170px;
        top: 215px;
    }

    .surfboard-box.surfboard-pos-3 {
        .surfboard-box__content {
            top: -13px;
            left: 120px;
            width: 150px;

            &::before {
                left: -90px;
            }
        }
    }
}

@media (max-width: 900px) {
    .holder-slider__descr {
        min-height: 230px;
        padding-left: 15px;
        margin-top: -290px;
    }
}

@media (max-width: 812px) {
    .header__map {
        top: 0%;
        right: -5%;
    }

    .menu__list {
        margin-top: -20px;

        li {
            margin-bottom: 40px;
        }
    }

    .header__arrows {
        display: none;
    }

    .slider-item__info-title {
        font-size: 37px;
        line-height: 37px;
    }

    .slider-item__info-text {
        font-size: 25px;
    }

    .header__arrows {
        left: 110px;
    }

    .header__map {
        svg {
            width: 300px;
            height: 150px;
        }
    }

    .slider-arrows {
        right: 21px;
    }

    .slider-arrows-left {
        right: 55px;
    }

    .slider-item__info {
        bottom: 77px;
        right: 30px;
    }

    .menu__hamburger {
        right: 14px;
    }

    .menu__list {
        flex-direction: column;
    }

    .menu-mini>.menu__list>li>span {
        margin-top: -32px;
        font-size: 17px;
    }

    .menu-mini>.menu__list>li {
        margin-bottom: 62px;
    }

    .menu-mini>.menu__list>li>span {
        margin-top: -36px;
        font-size: 21px;
    }

    .menu-mini>.menu__list {
        margin-top: 18px;
    }

    .subtitle__head {
        font-size: 30px;
    }

    .headline-left {
        padding-left: 55px;
    }

    .headline-left::before {
        width: 50px;
    }

    .island__data {
        .slider-arrows {
            top: -10%;
            right: 0;
        }

        .slider-arrows-left {
            right: 30px;
        }
    }

    .holder-slider__info {
        display: block;
        margin-left: 25px;
    }

    .holder-slider__info-item {
        min-height: auto;
        margin-bottom: 20px;
    }

    .holder-slider__info-subtitle {
        text-align: left;
    }

    .holder {
        margin-bottom: 0;
    }
}

@media (max-width: 770px) {
    .island__data {
        width: 500px;
    }
}

@media (max-width: 736px) {
    .slider-dotshead {
        max-width: 585px;
    }

    .menu-mini .menu__list li span {
        margin-top: 15px;
        font-size: 17px;
    }

    .menu-mini>.menu__list>li {
        margin-bottom: 62px;
    }

    .menu-mini>.menu__list>li>span {
        margin-top: -36px;
        font-size: 21px;
    }

    .holder-slider__descr {
        min-height: 200px;
    }

    .surfboard-box__content {
        width: 300px;
    }

    .shop__slider-info {
        padding-top: 50px;
    }
}

@media (max-width: 710px) {
    .subtitle {
        display: block;
        text-align: center;
    }

    .slider-dotshead {
        display: none;
    }

    .header__aside {
        border: none;
    }

    .slider-item__info-title {
        font-size: 37px;
        line-height: 37px;
    }

    .slider-item__info-text {
        font-size: 25px;
    }

    .header__title {
        display: none;
    }

    .header__search {
        margin-top: 240px;
    }

    .menu-mini>.menu__list {
        margin-bottom: 62px;
    }

    .menu-mini>.menu__list>li>span {
        margin-top: -36px;
        font-size: 21px;
    }

    .island__data {
        width: 300px;
    }

    .surf__subtitle {
        padding-right: 20px;
    }

    .headline-left {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .surf-slider {
        .slick-slide:nth-child(4n + 1) {
            .surf-box {
                margin-top: 0px;
            }
        }

        .slick-slide:nth-child(4n + 3) {
            .surf-box {
                margin-top: 0px;
            }
        }
    }
}

@media (max-width: 650px) {
    .holder-slider__descr {
        background-position: right -30px;
    }

    .holder {
        padding-bottom: 90px;
    }

    .title {
        span {
            font-size: 100px;
        }

        font-size: 40px;
        margin-bottom: 35px;
    }

    .holder__star-list {
        position: static;
    }

    .holder-slider__descr img {
        padding-left: 7px;
    }

    .holder__star-list li {
        margin-left: -22px;
    }

    .sleep .descr__head {
        padding-right: 0px;
    }

    .descr__head.descr__head-shop {
        white-space: normal;
    }
}

@media (max-width: 630px) {
    .surfboard-box__content {
        padding-left: 0;
        white-space: normal;

        &::before {
            display: none;
        }
    }
}

@media (max-width: 560px) {
    .surfboard-box__content {
        width: 150px;
        font-size: 17px;
        padding-right: 0;
    }

    .surfboard-pos-3 .surfboard-box__content {
        padding-right: 0;
        left: 35px;
    }

    .surfboard-box.surfboard-pos-3 .surfboard-box__content {
        left: 40px;
        width: 140px;
    }
}

@media (max-width: 500px) {
    .headline-left {
        padding-left: 0;
    }

    .headline-left::before {
        display: none;
    }

    .holder {
        background-image: none;
    }

    .holder-slider__btn {

        a,
        span {
            font-size: 30px;
        }
    }

    .quantity-button {
        margin: -40px;
    }

    title h3 {
        font-size: 50px;
    }

    title span {
        font-size: 70px;
    }

    .holder .slider-arrows {
        top: 170px;
        opacity: 0.5;
    }

    .sleep {
        .holder-slider__descr {
            background-position: 117px 10px;
        }
    }

    .shop .slider-arrows {
        top: 58px;
    }
}

@media (max-width: 410px) {
    .shop__slider {
        padding-left: 7px;
    }
}

@media (max-width: 400px) {
    .menu-mini>.menu__list>li {
        margin-bottom: 40px;
        margin-right: 0;
    }

    .menu-mini>.menu__list {
        margin-bottom: 0px;
    }

    .menu-mini .menu__list li span {
        margin-top: -37px;
        font-size: 15px;
    }

    .header__date {
        font-size: 43px;
    }

    .slider-item__info-title {
        font-size: 33px;
        line-height: 33px;
    }

    .slider-arrows {
        height: 18px;
    }

    .menu__hamburger {
        height: 18px;
    }

    .slider-item__info {
        bottom: 7px;
    }

    .island__data {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .surfboard-box__content {
        width: 100px;
        font-size: 17px;
        padding-right: 0;
    }

    .shop__extras-box {
        text-align: center;
        margin-right: 10px;
    }

    .title h3 {
        margin: 0;
        color: #fff;
        font-size: 60px;
        position: absolute;
        top: 0;
        right: -5px;
    }

    .title span {
        font-size: 85px;
    }
}

@media (max-height: 600px) {
    .menu-mini>.menu__list {
        margin-top: 0;
    }

    .menu-mini>.menu__list>li {
        margin-bottom: 40px;
    }
}